div {
  width: 400px;
  height: 600px;
  margin: auto;
  font-size: 17px;
  background-color: rgba(200, 218, 241, 0.863);
  padding: 20px;
  border: 2px solid;
  box-shadow: 0 0 10px gray;
  outline: 2px solid rgb(121, 63, 63);
  outline-offset: -10px;
}
img {
  float: left;
  height: 150px;
}
header {
  font-size: 30px;
  font-weight: bold;
}
dt {
  font-size: 17px;
  font-weight: bold;
  margin: 5px 0;
}
footer {
  position: relative;
  bottom: -50px;
  text-align: center;
}
